button {
  background-color: red;
}
button:hover {
  background-color: blue;
}

/* some additional styling */
* {
  border: none;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}